/*
		10 Beautiful Website Color Palettes 
		https://www.crazyegg.com/blog/website-color-palettes/
		
		UIGradients
		https://uigradients.com/#Stripe	
*/

body {	
	background: #C1E1A6;
	/*background: linear-gradient(to right, #4cb8c4, #3cd3ad); Chrome 10-25, Safari 5.1-6 */
	/*font-family: "Gill Sans MT";*/
	font-family: Segoe UI;
}

#login-panel {
	margin: 5%;
}
